<div class="row image-grid" >
    <div class="image-grid__item medium-3 columns" ng-repeat="category in categories">
        <div class="image-grid__header">
        <h2 class="header__title"><a href="/category/{{ category.id }}">{{ category.name }}</a></h2>
            <div class="header__meta row">
                <div class="medium-6 columns">
                    <i class="fa fa-camera"></i> {{ category.images.length }} images
                </div>
                <div class="medium-6 columns">
                    <i class="fa fa-clock-o"></i> 10 minutes ago
                </div>
            </div>
        </div>
        <div class="image-grid__images">
            <img src="http://lorempixel.com/250/300 " class="image-grid__image" alt="{{ image }}" ng-repeat="image in category.images">

            <div class="image-grid__image-overlay"></div>
        </div>
    </div>

    <form ng-submit="createCategory()">
        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="name" ng-model="newCategoryName" />
        <input type="submit">
    </form>
</div>
