{% load compress static %}
<!DOCTYPE html>
<html ng-app="progressPicturesApp">
<head>
    <title>Progress Pictures</title>
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <base href="/"/>
</head>
<body ng-controller="PageCtrl" ng-init="user='{{ user.email }}'">

    <div class="sticky">
        <nav class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Progress Pictures</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul>

            <form method="post" action="#" ng-submit="login()" class="top-bar-section">
                {% csrf_token %}
                <!-- Right Nav Section -->
                <ul class="right" ng-show="!user">
                    <li class="divider"></li>
                    <li><a href="/auth/">Login / Register</a></li>
                    <li class="divider"></li>
                </ul>

                <ul class="right" ng-show="user">
                    <li><a ng-click="albumdetail.open()" ng-show="showUploadImageButton()">Upload image</a></li>
                    <li><a ng-click="logout();">Logout</a></li>
                </ul>
            </form>
        </nav>
    </div>

    <div class="view-container {{ viewClass }}" ng-view></div>

    {% compress js %}
    {# Load Angular #}
    <script src="{% static 'js/dependencies/modules/angular/angular-file-upload-shim.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.js"></script>

    {# Load the application dependencies #}
    <script src="{% static 'js/dependencies/modules/angular/angular-file-upload.js' %}"></script>
    <script src="{% static 'js/dependencies/libraries/moment.js' %}"></script>
    <script src="{% static 'js/dependencies/modules/angular/mm-foundation-0.3.1.js' %}"></script>

    {# Application base #}
    <script src="{% static 'js/app.js' %}"></script>

    {# Album app #}
    <script src="{% static 'js/apps/albums/config.js' %}"></script>
    <script src="{% static 'js/apps/albums/controllers.js' %}"></script>
    <script src="{% static 'js/apps/albums/factories.js' %}"></script>
    <script src="{% static 'js/apps/albums/filters.js' %}"></script>
    <script src="{% static 'js/apps/albums/services.js' %}"></script>

    {# Auth app #}
    <script src="{% static 'js/apps/auth/config.js' %}"></script>
    <script src="{% static 'js/apps/auth/controllers.js' %}"></script>
    <script src="{% static 'js/apps/auth/factories.js' %}"></script>

    {# Site app #}
    <script src="{% static 'js/apps/site/config.js' %}"></script>
    <script src="{% static 'js/apps/site/controllers.js' %}"></script>
    {% endcompress %}

    <div style="display: none;">{% csrf_token %}</div>
</body>
</html>
