<div class="row image-grid" >
    <div class="image-grid__item medium-3 columns left" ng-repeat="image in album.image_set">
        <div class="image-grid__header">
            <h2 class="header__title">
                <a href="{{ image.url }}">{{ image.title }}</a>
            </h2>
        </div>
        <a href="{{ image.url }}" class="image-grid__images">
            <img ng-src="/media/{{ image.file }}" alt="{{ image.title }}">

            <div class="image-grid__image-overlay"></div>
        </a>
    </div>


</div>

 <script type="text/ng-template" id="myModalContent.html">
    <form enctype="multipart/form-data" name="imageUpload" class="medium-3 columns end">
        <label for="id_title">Title:</label>
        <input type="text" id="id_title" name="title" ng-model="ImageTitle" required />
        <span ng-show="imageUpload.title.$error.required">Required!</span>
        <br><br>
        <input type="file" ng-model="ImageFile" name="file" ng-file-select="onFileSelect($files)" accept="image/*">
    </form>
  </script>
