<div class="row">
    <div class="large-6 large-centered columns">
        <form method="post" ng-submit="login()">
            <h1>Log in to MyProgressPics</h1>
            <label for="email">Email address:</label>
            <input id="email" type="email">

            <label for="password">Password:</label>
            <input id="password" type="password">

            <input type="submit">
        </form>

        <p>Don't have an account? <a href="/auth/register/">Register.</a></p>
    </div>
</div>
