<div class="row">
    <div class="large-6 large-centered columns">
        <form method="post" ng-submit="register()">
            <h1>Register with MyProgressPics</h1>
            <label for="email">Email address:</label>
            <input id="email" type="email" ng-model="email">

            <label for="password">Password:</label>
            <input id="password" type="password" ng-model="password">

            <input type="submit">
        </form>

        <p>Already have an account? <a href="/auth/login/">Login.</a></p>
    </div>
</div>
